#content {
	width:100%;
	display:table;
	border-collapse:collapse; // key to having table row border
}
#results_wrapper {
	border: 1px solid #EEE;
	display:table-row;
}
#facets {
	width: 30%;
	display:table-cell;
	border-right: 2px solid silver;
	padding: 0 10px;
}
#facets form input[type=submit] {
	font-size:16pt;
	font-weight:bold;
	border: 2px solid black;
	width: 100%;
	/* http://css-radius.heroku.com */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	background-color: #DDDDDD;
/* for webkit browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#BBBBBB)); 
/* for firefox 3.6+  */
	background-image: -moz-linear-gradient(top,  #FFFFFF,  #BBBBBB); 
/* for ie , but doesn't seem to work as expected despite other examples working */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#FFFFFF', EndColorStr='#BBBBBB');

}
#facets ul.facet_field {
	padding-left: 10px;
}
#facets ul.facet_field li {
	list-style: none;
}
#results {
	padding: 0 10px;
	display:table-cell;
}
#filters {
	padding: 0 10px;
	border: 1px solid gray;
}
#tabs {
	border-bottom: 1px solid gray;
}
#tabs ul li {
	display:inline;
}
#tabs ul li a {
	text-decoration:none;
	padding:5px;
	font-size:12pt;
	font-weight:bold;
	background-color:silver;
	color:black;
}
#tabs ul li a.current {
	background-color:gray;
	color:white;
}
#studies {
	display:none;	/* hide initially */
}
#questions {
	display:none;	/* hide initially */
}
#pubmed {
	display:none;	/* hide initially */
}
